/*
    No chosen zmk,matrix-transform here if using ZMK stuidio.
    https://zmk.dev/docs/features/studio#adding-zmk-studio-support-to-a-keyboard

    Put trackball listener here and place input-processors inside!
*/

#include <input/processors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// keep all behavior settings for zmk studio
#define ZMK_BEHAVIORS_OMIT_KT


// Label re-defined: Fingers - Front, Thumb - Backwards

#define FRONT_RIGHT 0
#define FRONT_LEFT 1
#define BACK_RIGHT 2
#define BACK_LEFT 3
#define FRONT_SCROLL_RIGHT 4
#define BACKWARD_SCROLL_RIGHT 5
#define FRONT_SCROLL_LEFT 6
#define BACKWARD_SCROLL_LEFT 7
#define DPI_UTIL 8
#define SNIPE 9
#define EDIT 10
#define MEDIA 11

// Mouse speed increased
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default: 10
//#include <dt-bindings/zmk/pointing.h>

/ { 
    behaviors {
        mouse_layer_tap: mouse_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_LAYER_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            bindings = <&mo>, <&mkp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

//        map = <
//   		 RC(0,2)    			     	RC(0,5)
//		 RC(0,1)	/* Ball */	        RC(0,4)
//	         RC(0,0)    RC(0,12)	RC(0,11)        RC(0,3)
//                   /* Buttons on top of the middle deck */
//  		       /*  BTReset BTSelect Unlock  */ 
//                          RC(0,8) RC(0,7)  RC(0,6)        
//               /* Slider switches on the bottom of the middle deck */
//		/* Orientation (Front/Backwards)   Handiness L/R     */
//                       RC(0,10)        	     RC(0,9)              
//        >;

// &mkp LCLK &mkp MCLK &mkp RCLK  &none

// Layer 0
FRONT_RIGHT {
    bindings = <
        /* Bottom row: physical right, physical left */
        &mouse_layer_tap MEDIA RCLK        &mkp LCLK

        /* Middle row: physical left, physical right */
        &mkp MB5                           &mkp MB4

        /* Top row: physical right, second, third, physical left */
        &mo FRONT_SCROLL_RIGHT             &lt SNIPE ENTER      &lt EDIT ESC      &mouse_layer_tap DPI_UTIL MCLK

        /* Inner buttons - stock */
        &bt BT_CLR                         &bt BT_NXT          &studio_unlock

        /* Orientation / handedness - stock */
        &mo 2                              &mo 1
    >;
};

// Layer 1
FRONT_LEFT {
    bindings = <
        /* Bottom row: mirror of layer 0 */
        &mkp LCLK                          &mouse_layer_tap MEDIA RCLK

        /* Middle row: mirror of layer 0 */
        &mkp MB4                           &mkp MB5

        /* Top row: mirror of layer 0 */
        &mouse_layer_tap DPI_UTIL MCLK     &lt EDIT ESC         &lt SNIPE ENTER   &mo FRONT_SCROLL_LEFT

        /* Inner buttons */
        &trans                             &trans              &trans

        /* Orientation / handedness */
        &trans                             &trans
    >;
};

// Layer 2
BACK_RIGHT {
    bindings = <
        &mouse_layer_tap DPI_UTIL MCLK     &mo BACKWARD_SCROLL_RIGHT

        &mkp MB5                           &mkp MB4

        &mkp LCLK                          &lt EDIT ESC         &lt SNIPE ENTER   &mouse_layer_tap MEDIA RCLK

        /* Inner buttons */
        &trans                             &trans              &trans

        /* Orientation / handedness */
        &trans                             &trans
    >;
};

// Layer 3
BACK_LEFT {
    bindings = <
        &mo BACKWARD_SCROLL_LEFT           &mouse_layer_tap DPI_UTIL MCLK

        &mkp MB4                           &mkp MB5

        &mouse_layer_tap MEDIA RCLK        &lt SNIPE ENTER      &lt EDIT ESC      &mkp LCLK

        /* Inner buttons */
        &trans                             &trans              &trans

        /* Orientation / handedness */
        &trans                             &trans
    >;
};
 
//   		 RC(0,5)    			    RC(0,2) 
//		 RC(0,4)	/* Ball */	    RC(0,1)
//	         RC(0,3)    RC(0,12)	RC(0,11)    RC(0,0) 
//                   /* Buttons on top of the middle deck */
//  		       /*  BTReset BTSelect Unlock  */ 
//                          RC(0,8) RC(0,7)  RC(0,6)        
//               /* Slider switches on the bottom of the middle deck */                                                         /
//		/* Orientation (Front/Backward)   Handiness L/R     */
//                       RC(0,10)        	     RC(0,9)              

	// Scroll layers have the front/back navigation gestures assgigned.
	// For the  scrolling action - those layers are detected in trackball_listener telling to switch from the pointing movement to scrolling.
 	// Need separate layers for orientation to implement, accidentally added the back/forward gestures to  them, similarly to v3/v5 trackballs.
 	// Layers 4, 5, 6, 7

	// Thumb - Back, Ring F./Pinkie - Forward 
/* 4 */ FRONT_SCROLL_RIGHT {bindings = <
				/* Trackball */ 
		&trans					&mkp MB4 /*back*/ 
		&trans					&trans
		&mkp MB5 /*forward*/ &trans &trans	&trans
	                   /* Inner Buttons  */
			&trans &trans &trans
                     /* Handiness         Orientation */
			&trans 			&trans 
	      >;
	};
/* 5 */ BACKWARD_SCROLL_RIGHT     {bindings = <
						/* Trackball */ 
		&trans					&mkp MB5 /*forward*/
		&trans					&trans
		&mkp MB4 /*back*/  &trans   &trans 	&trans	
	                   /* Inner Buttons  */
			&trans &trans &trans
                     /* Handiness         Orientation */
			&trans 			&trans
	      >;
	};

/* 6 */ FRONT_SCROLL_LEFT {bindings = <
				/* Trackball */ 
		&mkp MB4 /*back*/			&trans			
		&trans					&trans
		&trans   &trans &trans			&mkp MB5 /*forward*/
  	                   /* Inner Buttons  */
			&trans &trans &trans
                     /* Handiness         Orientation */
			&trans 			&trans 
	      >;
	};
/* 7 */ BACKWARD_SCROLL_LEFT {bindings = <
						/* Trackball */ 
		&mkp MB5 /*forward*/			&trans
		&trans					&trans
		&trans 		&trans	 &trans		&mkp MB4 /*back*/ 
  	                   /* Inner Buttons  */
			&trans &trans &trans
                     /* Handiness         Orientation */
			&trans 			&trans
	      >;
	};

/* 8 */ DPI_UTIL {
    bindings = <
        /* Bottom row */
        &trans        &trans

        /* Middle row */
        &trans       &trans
        /* Top row */
        &trans        &trans        &trans        &trans

        /* Inner Buttons - keep dedicated */
        &trans        &trans        &trans

        /* Orientation / handedness - keep dedicated */
        &trans        &trans
    >;
};

/* 9 */ SNIPE {
    bindings = <
        &trans &trans

        &trans &trans

        &trans &trans &trans &trans

        /* Inner Buttons - keep dedicated */
        &trans &trans &trans

        /* Orientation / handedness - keep dedicated */
        &trans &trans
    >;
};

/* 10 */ EDIT {
    bindings = <
        /* Bottom row: physical right, physical left */
        &kp LS(LC(Z)) &kp LC(Z)

        /* Middle row */
        &trans        &trans

        /* Top row: physical right, second, third, physical left */
        &kp LC(V)     &kp LC(C)     &trans        &kp LC(X)

        /* Inner buttons - keep dedicated */
        &trans        &trans        &trans

        /* Orientation / handedness - keep dedicated */
        &trans        &trans
    >;
};

/* 11 */ MEDIA {
    bindings = <
        /* Bottom row: physical right, physical left */
        &trans        &trans

        /* Middle row: physical left, physical right */
        &kp C_VOL_DN  &kp C_VOL_UP

        /* Top row: physical right, second, third, physical left */
        &kp C_MUTE    &kp C_PP      &kp C_NEXT    &kp C_PREV

        /* Inner Buttons - keep dedicated */
        &trans        &trans        &trans

        /* Orientation / handedness - keep dedicated */
        &trans        &trans
    >;
};

extra5 {status = "reserved";};

extra6 {status = "reserved";};

     };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <FRONT_LEFT BACK_RIGHT>;
            then-layer = <BACK_LEFT>;
        };
    };

};
